{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'core/icons/favicon.ico' %}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <div class="navbar" id="navbar">
        <img class="logo" src="{% static 'core/icons/ielts-logo.png' %}">
        <ul class="nav-links">
            <img class="nav-icon" src="{% static 'core/icons/wifi.svg' %}">
            <img class="nav-icon" src="{% static 'core/icons/bell.svg' %}">
            <img class="nav-icon" src="{% static 'core/icons/menu-burger.svg' %}">
            {% block nav_links %}
            {% endblock %}
        </ul>
    </div>
    <div class="test-area">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="{% static 'core/js/scripts.js' %}"></script>
</html>