{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        button {
            background: none;
            border: none;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
            font-size: 1rem;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1> Start your test </h1>

    <form action="{% url 'main' %}" method="POST">
        {% csrf_token %}
        
        <input type="text" name="username" placeholder="Enter your name" required>
        
        <button type="submit" style="cursor: pointer; padding: 10px 20px;">
            START TEST
        </button>
    </form>

</body>
</html>