* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* MAIN PAGE STYLES */



/* NAVBAR SETTINGS */

/* Basic Reset */

.logo {
    width: 100px;
    height: 100%;
    object-fit: contain;
    margin: 0%;
}

/* The Sticky Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* position: -webkit-sticky; For Safari support */
  /* position: fixed; 
  top: 0; */
  z-index: 1000; /* Ensures it stays above other content */
  
  /* Styling */
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  box-shadow: 0 2px 5px rgb(211, 211, 211);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-icon {
  width: 30px;  /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  object-fit: contain; /* Ensures the icon doesn't distort */
  margin-left: 30px;
}

/* Spacer for visual effect */
.content {
  padding: 2rem;
  height: 2000px; /* Just to make the page scrollable */
  background: linear-gradient(to bottom, #f4f4f4, #ddd);
}

/* NAVBAR SETTINGS END */


/* LISTENING PAGE STYLES---------------------------------------------------------------------------------------- */